# True for development, False for production
DEBUG=True

SECRET_KEY=<STRONG_KEY_HERE>

# DB_ENGINE="django.db.backends.postgresql"
# DB_HOST="db"
# DB_NAME="postgres"
# DB_USERNAME="postgres"
# DB_PASS="postgres"
# DB_PORT=5432