# PROD or DEV
ENV = PROD
SECRET_KEY = django-insecure-zz64blga11w8*$+rvhkaiup1v&t3h8pqk&_kj9(td%qwz-su!n
DJANGO_ALLOWED_HOSTS = *

DB_ENGINE = postgresql
DB_HOST = db
DB_NAME = postgres
DB_USERNAME = postgres
DB_PASS = postgres
DB_PORT = 5432
